node_modules/
dist/
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# For pyinstaller
build/
src/scripts/__pycache__/
eth2deposit_proxy.spec
REQUIREMENT_PACKAGES_PATH/